@page "/examples"
@page "/?p=examples"

<div class="card-deck">
    <Card Title="Pwned passwords" 
        Text="Demo showing off Blazor and web development without JavaScript." 
        Img="img/pwned.jpg"
        Href="/examples/pwned" />
    <Card Title="Bachelor's thesis" 
        Img="img/thesis.jpg"
        Text="In my thesis I am implementing and experimentally testing several heap variants commonly used as priority queues. These variants include binary heap, Fibonacci heap, binomial heap, violation heap and rank-pairing heap. I am testing these structures on both artificial and real-world workloads."
        Href="/examples/bcthesis" />
</div>