<div class="pb-2">
    Roles: @Roles
    <br />
    Team size: @TeamSize
</div>
<div>
    @ChildContent
</div>

@code
{
    [Parameter]
    public string Roles { get; set; }

    [Parameter]
    public int TeamSize { get; set; } = 1;

    [Parameter]
    public RenderFragment ChildContent { get; set; }
}