@page "/examples/school"

<div class="container justify-content-sm-center">
    <Project CourseCode="PB138" CourseName="Modern Markup Languages and Their Applications" 
        Href="https://github.com/chocholacek/LOLStatsWeb">
        <ProjectDetail Roles="project lead | developer" TeamSize="3">
            <p>
                Output of the course was a project utilizing any feature of markup language. As a team leader, 
                I decided we will develop an .NET Core MVC web app featuring self-implemented XML database. As a theme, a mock of 
                an League of Legends stats displaying app, such as <a href="https://euw.op.gg/summoner/userName=visionful">op.gg</a>, was chosen.
                Project was able to fetch data from <a href="https://developer.riotgames.com/"> official Riot games API</a> 
                as I managed to obtain API key through official means. At the end of semester, project didn't match my expectations
                as there was lack of time and team effort to finish the project.
            </p>
        </ProjectDetail>
    </Project>
    <Project CourseCode="PV179" CourseName="System Development in C#/.NET" Href="https://github.com/MiriamaSasarakova/pv179">
        <ProjectDetail Roles="project lead | developer" TeamSize="3">
            <p>
                The output project of this course was to implement web app, according to the user-stories defined by us in the beginning of semester.
                This project was meant to teach us full stack development since we implemented all of data, business and presentation layers. Project was 
                developed on .NET Framework with usage of common .NET techonologies such as EntityFramework. Task taught us common design patterns, such as
                Unit of work and repository pattern. We also implemented our own API endpoints.
            </p>
        </ProjectDetail>
    </Project>
    <Project CourseCode="PB173" CourseName=" Domain specific development in C/C++" Href="https://github.com/chocholacek/effective">
        <ProjectDetail Roles="developer">
            <p>
                Seminar group I attended was focused around writing effective code in C++ in terms of performance. As students, we benchmarked
                our codes after every task. These tasks included writing effective set of characters, hashtable and both parallel and sequential
                matrix multiplication.
            </p>
        </ProjectDetail>
    </Project>
</div>