<a href=@Src download="chocholacek_thesis">
    <button class="btn btn-primary" type="Download">@Text</button>
</a>

@code
{
    [Parameter]
    public string Src { get; set; }

    [Parameter]
    public string Text { get; set; }
}