@inherits LayoutComponentBase

<div class="sidebar d-flex flex-column">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4" style="z-index: 3;">
        <div>
            Implemented in  
            <a href="http://blazor.net" target="_blank" class="ml-md-auto">Blazor</a>
        </div>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
